/**
 * Dynamic Table Styling - Style 2
 * @author Stephen M Irving
 * @version 1.1.0 08/08/2019
 */

/*
 * Base Styles: opinionated defaults - Resets and normalizes styles across all
 * browsers. The table specific styles start on line 461 with the table selector.
 */

html {
  box-sizing: border-box;
  font: 100% sans-serif;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-wrap: break-word;
}

*,
*:before,
*:after {
  background-repeat: no-repeat;
  box-sizing: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  color: #333;
  font: 1em/1.4 Roboto,
    'Source Sans Pro',
    Ubuntu,
    Cantarell,
    Arial,
    'Noto Sans',
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  text-rendering: optimizeLegibility;
}

/* Normalize h1 settings across browsers */

h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* A better looking default horizontal rule. */

hr {
  border: 0;
  border-top: 1px solid #ccc;
  box-sizing: content-box;
  display: block;
  font-size: 2em;
  height: 1px;
  margin: 1em 0;
  overflow: visible;
}

/*
 * HTML5 semantic elements default display type for older browsers.
 * IE < 9 and Fireforx < 2, Chrome < 4, Safari and iOS < 3.1 recognize none,
 * IE 9-11, Firefox 3-20, Chrome 4-25, Safari 3.1-6, Opera 10-12.1, and iOS 3.2-6.1
 * recognize all of them except for the 'main' element - This fixes that for
 * everything but their semantic accessibility roles.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

nav ol,
nav ul {
  list-style: none;
}

/*
 * Remove the gap between audio, canvas, iframes, images, videos and the bottom
 * of their containers: https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Remove border and correct the padding in Firefox. */

fieldset {
  border: 0;
  padding: .35em .75em .625em;
}

textarea {
  overflow: auto;
  resize: none;
}

/* Text Level Semantics */

/* Add the correct margin in IE 8-. */

figure {
  margin: 1em 40px;
}

/*
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/*
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* Prevent the duplicate application of `bolder` by the next rule in Safari 6. */

b,
strong {
  font-weight: inherit;
}

/* Add the correct font weight in Chrome, Edge, and Safari. */

b,
strong {
  font-weight: bolder;
}

/*
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Normalize the correct font size for all browsers. */
small {
  font-size: 80%;
}

/*
 * Remove text-shadow for a better selection highlight:
 * @link https://twitter.com/miketaylr/status/12228805301
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * @link https://stackoverflow.com/a/16982510/7133471
 */

::-moz-selection {
  background: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  color: #000;
  text-shadow: none;
}

/* Add the correct font style in Android 4.3-. */
dfn {
  font-style: italic;
}

/* Add the correct background and color in IE 9-. */
mark {
  background-color: #ff0;
  color: #000;
}

/*
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/* Embedded content */

/* Remove the border on images inside links in IE 10. */

img {
  border-style: none;
}

/* Hide the overflow in IE. */

svg:not(:root) {
  overflow: hidden;
}

/* Ensure SVGs without fill attributes inherit color correctly. */

svg:not([fill]) {
  fill: currentColor;
}

/* Add the correct display in IE 9-. */

audio,
canvas,
video {
  display: inline-block;
}

/* Add the correct display in iOS 4-7. */

audio:not([controls]) {
  display: none;
  height: 0;
}

/* Forms */

/*
 * Change the font styles correctly in all browsers.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Correctly show the overflow in IE and Edge. */

button,
input {
  overflow: visible;
}

/* Remove the inheritance of text transform in Edge, Firefox, and IE. */

button,
select {
  text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari. */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/* Correct the touch interactions on older mobile platoforms */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Remove the inner border of focused buttons in Firefox. */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
}

/* Restore the proper focus styles unset by the previous rule. */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/*
 * 1. Add the correct display in IE 9-
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  vertical-align: baseline;
}

/*
 * 1. Add the correct box sizing in IE 10.
 */

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/*
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* Remove the inner padding on cancel buttons in Chrome and Safari on macOS. */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Misc */

/* Add the correct display in all browsers. */

summary {
  display: list-item;
}

/* Ensure dialog elements display correctly in all browsers */

dialog {
  background-color: #fff;
  border: solid;
  color: #222;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

/*
 * 1. Ensures dialog elements without the 'open' attribute are not displayed.
 * 2. Adds the correct display value in IE
 */

dialog:not([open]),
template,
[hidden] {
  display: none;
}

/* Add the correct cursor defaults for relevant ARIA attributes. */
[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled='true'],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden='false'][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

/* Table Styles */

/* Render tables with collapsed cell borders and centered vertical alignment */

table {
  border-collapse: collapse;
  vertical-align: middle;
}

/*
 * An optional color pallete:
 * #00447c - MUSC blue
 * #266090 - 15% tinting on MUSC blue
 * #4d7ca3 - 30% tinting on MUSC blue
 * #80a2be - 50% tinting on MUSC blue
 * #003057 - 30% shading on MUSC blue
 * #002849 - 45% shading on MUSC blue
 * #000333 - 50% darker MUSC blue
 * #6495ed - Pastel
 * #fff - White
 * #f1f2f2 - Off-white
 * #d3d3d3 - Light gray shading for even rows
 * #bcbec0 - Gray
 * #687685 - Silver
 * #333 - Off-black
 * #000 - Black
 */

/*
 * The outer containing <div> with the white background. This is a completely
 * optional stylistic choice for the page.
 */

.table-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .23), 0 10px 40px rgba(0, 0, 0, .19);
  margin: 1em auto .625em;
  max-height: 1000px; /* Fallback for browsers that don't support vh units */
  max-height: 85vh;
  overflow: hidden;
  padding: .8125em .625em 1.25em;
  width: 85%; /* Fallback for browsers that don't support vw units */
  width: 85vw;
}

/* A container for all the inner elements of the card (the white container for the table) */

.container {
  margin: 0 auto;
  width: 90%;
}

/*
 * The outer containing <div> for the table elements. The scrollbar effects are
 * applied to this element.
 */

/* Scrollbar effects for webkit browsers (Chrome, Safari, Opera 11+, post 2019 Edge) */

.table-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-scroll::-webkit-scrollbar-track {
  background: padding-box #80a2be;
  border-radius: 4px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: padding-box #00447c;
  border-radius: 4px;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: padding-box #6495ed;
}

.table-scroll::-webkit-scrollbar-thumb:active {
  background: padding-box #002849;
  box-shadow: inset 0 0 3px rgba(192, 192, 192, .5);
}

/*
 * Sets the font-family for the table's title <h1> and head <thead>
 * elements. It is a good idea to always include fallback fonts when declaring
 * a font-family
 */

thead,
.table-title {
  font-family: Lato,
    Oxygen,
    'Open Sans',
    Montserrat,
    'PT Sans',
    Verdana,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

.table-title {
  color: #00447c;
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  word-wrap: normal;
}

/*
 * Set table element's (<table>) outer border, center text by default,
 * 98% width of parent container, No top or bottom margin, and automatic left
 * and right margins, which centers the table in its container.
 */

.sticky-table {
  border: 2px solid #bcbec0;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

/* Prohibit highlighting text in the header or footer */

thead,
tfoot {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Clear the float effect applied by the sorting visual indication */

thead:before,
thead:after {
  content: '';
  display: table;
}

thead:after {
  clear: both;
}

/* Ensure the default cursor on table body <tbody> and footer <tfoot> */

tbody,
tfoot {
  cursor: default;
}

tr {
  border-bottom: 1px solid #bcbec0;
}

tfoot tr td[colspan] {
  text-align: center;
}

/*
 * Background shading on all even numbered table rows that are descendants
 * of the table body
 */

tbody > tr:nth-child(even) {
  background: #d3d3d3;
}

/* Hover effect on all table rows <tr> that are descendants of table body */

tbody > tr:hover {
  background: #6495ed;
  color: #fff;
}

/* Set the default padding for all the table's cells, 8px in every direction. */

td {
  padding: 8px;
  padding: .5rem;
}

/*
 * Set the style of the table's column header cells. The position: sticky
 * and position: -webkit-sticky must be added to all the th elements themselves,
 * like below. It does NOT work in older browsers if you attempt to apply it to
 * a <thead> element instead.
 */

th {
  background: #00447c;
  border-color: #bcbec0;
  border-style: solid;
  border-width: 0 0 3px; /* 0px on the top, 0px on sides, and 3px below */
  color: #f1f2f2;
  font-size: 1.25em;
  letter-spacing: .075em;
  padding: .4em .8em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* Transition timing for hover/active effects */
  -webkit-transition: background-color .4s ease-out;
  -moz-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;
  white-space: nowrap;
  /* Ensure the sticky-headers will be on top of everything as user scrolls */
  z-index: 999;
}

/* Set a border for every cell with a sibling before it */

th + th,
td + td {
  border-left: 1px solid #bcbec0;
}

/* Style the first column of the table */

th:first-child,
td:first-child {
  padding-left: 16px; /* Fallback for browsers not supporting rem units */
  padding-left: 1rem;
  text-align: left;
}

/* Style the last column of the table */

th:last-child,
td:last-child {
  padding-right: 16px; /* Fallback for browsers not supporting rem units */
  padding-right: 1rem;
  text-align: right;
}

/* Set the mouse effects for table cells */

th:hover {
  background: #266090;
}

th:active {
  background: #003057;
}

tbody td:hover {
  font-weight: 700;
}

tfoot {
  background: #687685;
  color: #f1f2f2;
  border-top: 2px solid #bcbec0;
}

/*
 * Styles for table sorting feature - These class names must remain unchanged
 * as they are applied to the HTML via the sorttable.js JavaScript.
 */

.table-sort-header {
  cursor: pointer;
}

.table-sort-header::-moz-selection {
  background: 0 0;
}

.table-sort-header::selection {
  background: 0 0;
}

/*
 * Last columns sort indicator shows up on left instead of right for right
 * text-alignment. If the final column isn't right-aligned the selectors
 * can be simplified. (sort-header:after)
 */

.table-sort-header:not(:last-child):after,
.table-sort-header:last-child:before {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 .3em .3em;
  content: '';
  margin-top: .55em;
  /* Opacity fallback for IE8- */
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
  opacity: .7;
  position: absolute;
  visibility: hidden;
}

/*
 * Sets all headers except for the last column to have the sorting indicator
 * triangle floating to the right of the header's text (for left and center aligned text)
 */

.table-sort-header:not(:last-child):after {
  float: right;
  right: 2%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*
 * Sets the last column's headers to have the sorting indicator
 * triangle floating to the left of the header's text (for right aligned text)
 */

.table-sort-header:last-child:before {
  float: left;
  left: 2%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.table-sort-header:hover:after,
.table-sort-header:hover:before {
  visibility: visible;
}

.table-sort-asc:hover:after,
.table-sort-asc:hover:before,
.table-sort-desc:hover:after,
.table-sort-desc:hover:before {
  /* Opacity fallback for IE8- */
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(enabled=false)';
  opacity: 1;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.table-sort-asc:not(:last-child):after,
.table-sort-asc:last-child:before {
  border-width: 0 .3em .3em;
}

.table-sort-desc:not(:last-child):after,
.table-sort-desc:last-child:before {
  border-width: .3em .3em 0;
}

/* MEDIA QUERIES (for smaller screen sizes) */

@media only screen and (max-width: 60em) {
  .main-wrapper {
    font-size: 80%;
  }
}

@media only screen and (max-width: 52.5em) {
  .main-wrapper {
    font-size: 65%;
  }
}

@media only screen and (max-width: 45em) {
  .main-wrapper {
    font-size: 50%;
  }

  td {
    font-size: 112.5%;
  }
}

/* PRINT ONLY STYLES */

@media print {
  * {
    color: #000;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  html,
  body {
    background: none;
    color: #000;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-size: 12pt; /* Print is the only time to use pt units */
    height: 98.5%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  table {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    max-height: 100%;
    max-width: 100%;
    page-break-inside: auto;
  }

  /* Prevent the page from breaking in the middle of a table row */
  tr,
  td {
    page-break-inside: avoid;
  }

  /* Prevent the page from breaking right after a heading */
  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  nav,
  footer,
  button,
  input,
  select,
  .no-print {
    display: none !important;
  }

  .main-wrapper,
  .table-card,
  .container,
  .table-wrap-outer,
  .table-wrap {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .table-title {
    font-family: Georgia, Cambria, Garamond, 'Times New Roman', Times, serif;
  }

  /*
     * Lighten the background color and change from white text on the column
     * headers for better printing if user prints in black and white
    */

  th {
    background: #80a2be;
    color: #000;
  }

  @page {
    margin: 1.5cm;
    size: auto;
  }
}
