/**
 * Dynamic Table Styling - Style 1
 * @author Stephen M Irving
 * @version 1.1.0 08/08/2019
 */

/*
 * Base Styles: opinionated defaults - Resets and normalizes styles across all
 * browsers. The table specific styles start on line 469 with the table selector.
 */

html {
  box-sizing: border-box;
  font: 100% sans-serif;
  scroll-behavior: smooth;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-wrap: break-word;
}

*,
:before,
:after {
  box-sizing: inherit;
  min-width: 0;
  padding: 0;
  margin: 0;
  vertical-align: inherit;
  background-repeat: no-repeat;
  text-decoration: inherit;
}

body {
  color: #333;
  /* Sets the defaults of font-size at browser default, line height at 1.4, and a Roboto font-stack */
  font: 1em/1.4 Roboto,
    'Source Sans Pro',
    Ubuntu,
    Cantarell,
    Arial,
    'Noto Sans',
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  text-rendering: optimizeLegibility;
}

/* Normalize h1 settings across browsers */

h1 {
  margin: .67em 0;
  font-size: 2em;
}

/* A better looking default horizontal rule. */

hr {
  display: block;
  overflow: visible;
  box-sizing: content-box;
  height: 1px;
  border: 0;
  margin: 1em 0;
  font-size: 2em;
  border-top: 1px solid #ccc;
}

/*
 * HTML5 semantic elements default display type for older browsers.
 * IE < 9 and Fireforx < 2, Chrome < 4, Safari and iOS < 3.1 recognize none,
 * IE 9-11, Firefox 3-20, Chrome 4-25, Safari 3.1-6, Opera 10-12.1, and iOS 3.2-6.1
 * recognize all of them except for the 'main' element - This fixes that for
 * everything but their semantic accessibility roles.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

nav ol,
nav ul {
  list-style: none;
}

/*
 * Remove the gap between audio, canvas, iframes, images, videos and the bottom
 * of their containers: https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Remove border and correct the padding in Firefox. */

fieldset {
  padding: .35em .75em .625em;
  border: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

/* Text Level Semantics */

/* Add the correct margin in IE 8-. */

figure {
  margin: 1em 40px;
}

/*
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/*
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* Prevent the duplicate application of `bolder` by the next rule in Safari 6. */

b,
strong {
  font-weight: inherit;
}

/* Add the correct font weight in Chrome, Edge, and Safari. */

b,
strong {
  font-weight: bolder;
}

/*
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Normalize the correct font size for all browsers. */
small {
  font-size: 80%;
}

/*
 * Remove text-shadow for a better selection highlight:
 * @link https://twitter.com/miketaylr/status/12228805301
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * @link https://stackoverflow.com/a/16982510/7133471
 */

::-moz-selection {
  background: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  color: #000;
  text-shadow: none;
}

/* Add the correct font style in Android 4.3-. */
dfn {
  font-style: italic;
}

/* Add the correct background and color in IE 9-. */
mark {
  background-color: #ff0;
  color: #000;
}

/*
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/* Embedded content */

/* Remove the border on images inside links in IE 10. */

img {
  border-style: none;
}

/* Hide the overflow in IE. */

svg:not(:root) {
  overflow: hidden;
}

/* Ensure SVGs without fill attributes inherit color correctly. */

svg:not([fill]) {
  fill: currentColor;
}

/* Add the correct display in iOS 4-7. */

audio:not([controls]) {
  display: none;
  height: 0;
}

/* Forms */

/*
 * Change the font styles correctly in all browsers.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Correctly show the overflow in IE and Edge. */

button,
input {
  overflow: visible;
}

/* Remove the inheritance of text transform in Edge, Firefox, and IE. */

button,
select {
  text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari. */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/* Correct the touch interactions on older mobile platoforms */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Remove the inner border of focused buttons in Firefox. */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
}

/* Restore the proper focus styles unset by the previous rule. */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/*
 * 1. Add the correct display in IE 9-
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  vertical-align: baseline;
}

/*
 * 1. Add the correct box sizing in IE 10.
 */

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/*
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* Remove the inner padding on cancel buttons in Chrome and Safari on macOS. */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* Misc */

/* Add the correct display in all browsers. */

summary {
  display: list-item;
}

/* Ensure dialog elements display correctly in all browsers */

dialog {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  padding: 1em;
  border: solid;
  margin: auto;
  background-color: #fff;
  color: #222;
}

/*
 * 1. Ensures dialog elements without the 'open' attribute are not displayed.
 * 2. Adds the correct display value in IE
 */

dialog:not([open]),
template,
[hidden] {
  display: none;
}

/* Add the correct cursor defaults for relevant ARIA attributes. */
[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled='true'],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden='false'][hidden]:not(:focus) {
  position: absolute;
  display: inherit;
  clip: rect(0, 0, 0, 0);
}

/* Table Styles */

/* Render tables with collapsed cell borders and centered vertical alignment */

table {
  vertical-align: middle;
  border-collapse: collapse;
}

/*
 * This <div> element's style exists solely for the purposes of this demonstration.
 * It simply horizontally and vertically centers the elements on the page and most
 * likely will not be copied into a production implementation.
 */

.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 67.5em;
  height: 100vh;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -ms-flex-pack: center;
}

/*
 * An optional color pallete:
 * #00447C - MUSC blue
 * #266090 - 15% tinting on MUSC blue
 * #4d7ca3 - 30% tinting on MUSC blue
 * #80a2be - 50% tinting on MUSC blue
 * #003057 - 30% shading on MUSC blue
 * #002849 - 45% shading on MUSC blue
 * #000333 - 50% darker MUSC blue
 * #6495ed - Pastel blue
 * #fff - White
 * #f1f2f2 - Off-white
 * #d3d3d3 - Light gray shading for even rows
 * #bcbec0 - Gray
 * #687685 - Silver
 * #333 - Off-black
 * #000 - Black
 */

/*
 * The outer containing <div> with the white background. This is a completely
 * optional stylistic choice for the page.
 */

.table-card {
  overflow: hidden;
  width: 85%; /* Fallback for browsers that don't support vw units */
  width: 85vw;
  max-height: 1000px; /* Fallback for browsers that don't support vh units */
  max-height: 85vh;
  padding: .8125em .625em 1.25em;
  border-radius: 15px;
  margin: 1em auto .625em;
  background: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .23), 0 10px 40px rgba(0, 0, 0, .19);
}

/* A container for all the inner elements of the card (the white container for the table) */

.container {
  width: 90%;
  margin: 0 auto;
}

/*
 * The outer containing <div> for the table elements. The scrollbar effects are
 * applied to this element.
 */

.table-scroll {
  /* Overflow turns on the scrollbars if the table is larger than this element */
  overflow: auto;
  margin: 0 auto; /* Center element with no top or bottom margins */
  scrollbar-arrow-color: #fff; /* IE 6+ scroll styles */
  scrollbar-face-color: #00447c;
  scrollbar-shadow-color: #333;
  scrollbar-highlight-color: #000;
  scrollbar-darkshadow-color: #000;
  scrollbar-track-color: #80a2be; /* Last IE 6+ scroll styles */
  scrollbar-color: #00447c #80a2be; /* Firefox 64+ */
  scrollbar-width: thin; /* Firefox 64+ */
}

/* Scrollbar effects for webkit browsers (Chrome, Safari, Opera 11+, post 2019 Edge) */

.table-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-scroll::-webkit-scrollbar-track {
  border-radius: 4px;
  background: padding-box #80a2be;
}

.table-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: padding-box #00447c;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: padding-box #6495ed;
}

.table-scroll::-webkit-scrollbar-thumb:active {
  background: padding-box #002849;
  box-shadow: inset 0 0 3px rgba(192, 192, 192, .5);
}

/*
 * Sets the font-family for the table's title <h1> and head <thead>
 * elements. It is a good idea to always include fallback fonts when declaring
 * a font-family
 */

.table-title,
.table-head {
  font-family: Lato,
    Oxygen,
    'Open Sans',
    Montserrat,
    'PT Sans',
    Verdana,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

.table-title {
  display: inline-block;
  overflow: hidden;
  margin: 0 0 0 .525em; /* Sets all margins to 0 except for the left margin */
  color: #00447c;
  font-size: 2em;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  word-wrap: normal;
}

/*
 * The first wrapping container <div> for the table. This class' height will set
 * the height for the visible part of the table
 */

.table-wrapper {
  /* Minimum height has the table header and footer and 1 row visible */
  min-height: 7em;
  height: 30em; /* Fallback for browsers w/o vh support */
  height: 66.9vh;
  margin: 0 auto;
}

/*
 * Set table element's (<table>) outer border, center text by default,
 * 98% width of parent container, No top or bottom margin, and automatic left
 * and right margins, which centers the table in its container.
 */

.sticky-table {
  width: 98%;
  border: 2px solid #bcbec0;
  margin: 0 auto;
  text-align: center;
}

/* Prohibit highlighting text in the header or footer */

.table-head,
.table-foot {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Clear the float effect applied by the sorting visual indication */

.table-head:before,
.table-head:after {
  display: table;
  content: '';
}

.table-head:after {
  clear: both;
}

/* Ensure the default cursor on table body <tbody> and footer <tfoot> */

.table-body,
.table-foot {
  cursor: default;
}

/*
 * Background shading on all even numbered table rows <tr> that are descendants
 * of the table body <tbody>
 */

.table-body .table-row:nth-child(even) {
  background: #d3d3d3;
}

/* Hover effect on all table rows <tr> that are descendants of table body <tbody> */

.table-body .table-row:hover {
  background: #6495ed;
  color: #fff;
}

/*
 * Hover effect on all table rows <tr> that are descendants of the table
 * footer <tfoot>
 */

.table-foot .table-row:hover {
  background: #687685;
  color: #fff;
}

/*
 * Set the default padding for all the table's cells, 8px in every direction.
 * .col-head are the <th> elements in the <thead> section, .cell are the <td>
 * elements in the <tbody> sectiion, .col-foot are the <td> elements in the
 * <tfoot> section of the HTML
 */

.cell,
.col-foot {
  padding: 8px;
  padding: .5rem;
}

/*
 * Set the style of the table's column header cells <th>.
 * The position: sticky and position: -webkit-sticky must be added to a
 * all the th elements themselves, like in the class below. It does NOT work
 * if you attempt to apply it to a <thead> element instead.
 */

.col-head {
  position: -webkit-sticky;
  position: sticky;
  /* Fixes issue w/ sticky where sometimes text from table shows above header */
  top: -.5px;
  z-index: 999;
  padding: .4em .8em;
  background: #00447c;
  color: #f1f2f2;
  font-size: 1.25em;
  letter-spacing: .075em;
  white-space: nowrap;
  /* Transition timing for hover/active effects */
  -webkit-transition: background-color .4s ease-out;
  -moz-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;
  border-color: #bcbec0;
  border-style: solid;
  border-width: 0 0 3px; /* 0px on the top, 0px on sides, and 3px below */
}

.col-head:hover {
  background: #266090;
}

.col-head:active {
  background: #003057;
}

/* Every cell <td> in the table body <tbody> has this class applied */

.cell {
  border-bottom: 1px solid #bcbec0;
}

/* Bold text when a cell is hovered over */

.cell:hover {
  font-weight: 700;
}

/* Set the styling for the cells in the table footer */

.col-foot {
  position: -webkit-sticky;
  position: sticky;
  /* Fixes issue w/ sticky where sometimes text from table shows below footer */
  bottom: -1px;
  z-index: 999; /* Ensures the footer stays on top of everything else */
  background: #687685;
  border-top: 2px solid #bcbec0;
}

/* Set the hover effect for cells in the table footer */

.col-foot:hover {
  color: #ffe;
  font-weight: 700;
}

/* Style the first column of the table */

.col-head:first-child,
.cell:first-child,
.col-foot:first-child {
  text-align: left;
  padding-left: 16px; /* Fallback for browsers not supporting rem units */
  padding-left: 1rem;
}

/* Style the last column of the table */

.col-head:last-child,
.cell:last-child,
.col-foot:last-child {
  text-align: right;
  padding-right: 16px; /* Fallback for browsers not supporting rem units */
  padding-right: 1rem;
}

/* Set a border for every cell with a sibling before it */

.col-head + .col-head,
.cell + .cell,
.col-foot + .col-foot {
  border-left: 1px solid #bcbec0;
}

/* TABLE SORTING STYLES (applied by sorttable.js) */

/*
 * Styles for table sorting feature - These class names must remain unchanged
 * as they are applied to the HTML via the sorttable.js JavaScript.
 */

.table-sort-header {
  cursor: pointer;
}

.table-sort-header::-moz-selection {
  background: 0 0;
}

.table-sort-header::selection {
  background: 0 0;
}

/*
 * Last columns sort indicator shows up on left instead of right for right
 * text-alignment. If the final column isn't right-aligned the selectors
 * can be simplified. (sort-header:after)
 */
.table-sort-header:not(:last-child):after,
.table-sort-header:last-child:before {
  position: absolute;
  margin-top: .55em;
  opacity: .7;
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 .3em .3em;
  content: '';
  visibility: hidden;
}

/*
 * Sets all headers except for the last column to have the sorting indicator
 * triangle floating to the right of the header's text (for left and center aligned text)
 */
.table-sort-header:not(:last-child):after {
  right: 2%;
  transform: rotate(-90deg);
  float: right;
}

/*
 * Sets the last column's headers to have the sorting indicator
 * triangle floating to the left of the header's text (for right aligned text)
 */

.table-sort-header:last-child:before {
  left: 2%;
  transform: rotate(90deg);
  float: left;
}

.table-sort-header:hover:after,
.table-sort-header:hover:before {
  visibility: visible;
}

.table-sort-asc:hover:after,
.table-sort-asc:hover:before,
.table-sort-desc:hover:after,
.table-sort-desc:hover:before {
  opacity: 1;
  transform: rotate(0);
}

.table-sort-asc:not(:last-child):after,
.table-sort-asc:last-child:before {
  border-width: 0 .3em .3em;
}

.table-sort-desc:not(:last-child):after,
.table-sort-desc:last-child:before {
  border-width: .3em .3em 0;
}

/* ACESSIBILITY MEDIA QUERIES */

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* MEDIA QUERIES (for smaller screen sizes) */

@media only screen and (max-width: 60em) {
  .main-wrapper {
    font-size: 80%;
  }
}

@media only screen and (max-width: 52.5em) {
  .main-wrapper {
    font-size: 65%;
  }
}

@media only screen and (max-width: 45em) {
  .main-wrapper {
    font-size: 50%;
  }

  .cell {
    font-size: 112.5%;
  }
}

/* PRINT ONLY STYLES */

@media print {

  @page {
    margin: 1.5cm;
    size: auto;
  }

  * {
    color: #000;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  html,
  body {
    width: 100%;
    height: 98.5%;
    padding: 0;
    margin: 0;
    background: none;
    color: #000;
    font-size: 12pt; /* Print is the only time to use pt units */
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  table {
    max-width: 100%;
    max-height: 100%;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    page-break-inside: auto;
  }

  /* Prevent the page from breaking in the middle of a table row */
  tr,
  td {
    page-break-inside: avoid;
  }

  /* Prevent the page from breaking right after a heading */
  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  nav,
  footer,
  button,
  input,
  select,
  .no-print {
    /* Apply this class to anything you don't want displayed on print */
    display: none !important;
  }

  .main-wrapper,
  .table-card,
  .container,
  .table-wrap-outer,
  .table-wrap {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .table-title {
    font-family: Georgia, Cambria, Garamond, 'Times New Roman', Times, serif;
  }

  /*
     * Lighten the background color and change from white text on the column
     * headers for better printing if user prints in black and white
    */

  .col-head {
    background: #80a2be;
    color: #000;
  }
}
